body {
	font-family: Arial, Helvetica, sans-serif;
}

label {
	text-decoration: underline;
	
	margin-top: 15px;
	margin-bottom: 5px;

	font-size: 1.2*$font-size;
}

.list {
	margin-left: 15px;
}

.center {
	text-align: center;
}
