// Colours & Themes //
$colour-danger: #8b2635 !default;
$colour-foreground: #D9DBF1 !default;
$colour-background: #04151F !default;
$colour-box: lighten($colour-background, 10) !default;
$colour-border: darken($colour-box, 20) !default;
$colour-details: #05b2dc !default;

$colour-danger-print: #8b2635 !default;
$colour-foreground-print: black !default;
$colour-background-print: white !default;
$colour-box-print: #CCC !default;
$colour-border-print: black !default;

// https://coolors.co/04151f-8b2635-087ca7-05b2dc-d9dbf1

// General //
$rounding: 5px !default;
$padding: 12px !default;

// Links //
$link-colour: $colour-details !default;
$link-colour-hover: lighten($link-colour, 10) !default;

// Fonts //
$font-size: 14px !default;
$font-size-medium: 1.5*$font-size !default;
$font-size-large: 2*$font-size !default;

// Inputs & Buttons //
$input-padding: $padding/2 !default;
$input-height: 2*$font-size + 2*$input-padding !default;
$input-rounding: $rounding !default;

$button-height: $input-height !default;
$button-width: $input-height !default;
$button-padding: $input-padding !default;
$button-rounding: $rounding !default;

// Grid //
$grid-copyright-height: $font-size + 2*$padding !default;
